/*************************************************
    GENERAL RULES CSS
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  font-family: 'Montserrat', sans-serif;  
  font-size: 12px;
}

/* body {
width: 1440px;
margin: 0 auto;
} */

/* ***************************** */
h1 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

h3 {
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    /* font-weight: 600; */
}
/* ***************************** */

 /*****************
    icone
 ******************/
 .menu-icon {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
  fill: red;
 }

 #install-icon {
  width: 15px;
  margin-bottom: 5px;
  padding-top: 5px;
 }
  /*****************
 ******************/

/*************************************************
    MAIN
 *************************************************/
 .main-container {
    height: 600px;
    background-color: #f783ac;
    display: flex;
 }

 .left-box{
  /* debug */
    height: 600px;

    width: 150px;
    background-color: #000000;
    display: flex;
    justify-content: center;
 }

 .narrow-cont {
  height: 600px;

    width: 130px;
    background-color: #a9e1ff;
    display: flex;
    flex-direction: column;
 }

 .cont-main-side-c-l {
  background-color: #f783ac;
 }

 /* logo */
 .box-logo {
   height:55px;
 }

 .box-logo img {

 }

 /* menu */
 /* .cont-menu-lb {
  height:80px;
  background-color: rgb(255, 196, 86);
 } */

.cont-menu-lb a {
  color:#878788;
  text-decoration: none;
}

.cont-menu-lb ul {
  line-height: 2;
}

/* crea playlist */
.box-create-playlist {
  margin-top: 20px;
}

 h4 {
    margin-bottom: 10px;
    color: white;
  }

.cont-create-playlist {
  background-color: #f783ac;
}

 /* .icon-create-playlist {
  display: flex;
  align-items: center
  } */

  .icon-create-playlist i {
  font-size: 34px;
  color:#878788;
  margin-right: 8px;
  }

  .icon-create-playlist a {
  text-decoration: none;
  color:#878788;
  }

/* lista scrollabile con varie playlist */
.box-playlists-to-scroll {
  height: 100px;
  background-color: rgb(98, 12, 141);
  margin-top: 10px;
  overflow-y: auto;
}

.box-playlists-to-scroll a {
  color:#878788;
  text-decoration: none;
}

.box-playlists-to-scroll a:hover {
  color: white;
}

.box-playlists-to-scroll ul {
line-height: 2;
}

/* sezione finale colonna con "installa" e profilo utente */
.cont-footer-col {
  height: 90px;
  background-color: green;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.bottom-box {
  width: 100%;
}

.cont-install a {
  text-decoration: none;
  color: #878788;
}

.cont-install a:hover {
  color: white;
}

hr {
color: #878788;
}

.cont-profile a {
  text-decoration: none;
  color: white;
}

.cont-profile {
  margin: 5px 0;
}

/* **************** */
  .right-box{
    height: 600px;
    background-color: #0c0f14;
    flex-grow: 1;
    overflow-y: auto;
 } 
/* ________________________________________________________ */
 
/* call-to-action-bar */
 .call-to-action-bar {
    height: 55px;
    background-color: rgba(40, 40, 40, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100% - 150px);

 }

 /* ---------> button */
 .btn-cta {
   height: 25px;
   width: 140px;
   border: 1px solid #878788;
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 8px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   transition: transform 0.2s ease-in-out;
   margin-right: 5px;
 }

 .btn-cta a {
  color: #878788;
  text-decoration: none;
 }

 /* .btn-cta a:hover {
  transform: scale(1.05);
} */

 .btn-cta:hover {
 border: 1px solid white;
 transform: scale(1.05);
 color: white;
}

.btn-cta a:hover {
  color: white;
}
/* ________________________________________________________ */

/* top navbar */
.top-nav {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #878788;
    font-weight: 600;
}

.top-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.top-nav a {
  color: #878788;
  text-decoration: none;
 }

  .top-nav a:hover {
  color: white;
}

.active-section {
  border-bottom: 2px solid #1ed760;
}
/* ________________________________________________________ */

/* contenuti-in-evidenza */
.contenuti-in-evidenza {
    margin: 55px 0;
}

/* -------> Recently played */
.cont-title-and-album {
  padding: 0 10px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 10px;
  /* gap: 7px;
  width: 100%;
  padding: 0 5px; */
  
}

.col {
  /* background-color: #eebefa; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-title-and-album .col img {
  height: 120px;
}

/* -------> Creato per John Doe */

/* -------> Artisti più popolari */

 /*************************************************
    FOOTER
 *************************************************/
 footer {
    height: 50px;
    background-color: #181818;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0 auto;

 }

.cont-footer-elements {
  height: 45 px;
  background-color: rgb(166, 166, 166);
}




 /* ______________________________________________________________ */
 /*************************************************
    RESPONSIVE - DESKTOP FIRST
 *************************************************/
 @media (max-width: 878px) {
  /* layout MD */
}

@media (max-width: 639px) {
  /* layout S */
}

@media (max-width: 552px) {
  /* layout XS */
}