/* Mobile piccolo (max-width: 552px) */

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; /* per desktop */
}

@media screen and (max-width: 552px) {
  /* layout XS */

  .left-box {
    width: 50px;
    min-width: 50px;
  }
}