/* Mobile piccolo (max-width: 552px) */

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; /* per desktop */
}

@media screen and (max-width: 552px) {
  /* layout XS */

  .left-box {
    width: 50px;
    min-width: 50px;
  }

  .call-to-action-bar {
    width: calc(100% - 50px);
  }

    span,
    h4,
    .box-create-playlist,
    .box-playlists-to-scroll,
    hr {
        display: none;
    }

    .narrow-cont {
        padding: 0;
        align-items: center;
    }

    .menu-icon {
        margin-right: 0;
    }

    .bottom-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-nav {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 10px 0;
    }

    .top-nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}