/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 12px;
}
/* FONT FAMILY
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-family: system-ui, sans-serif;
 */

/*************************************************
    MAIN
 *************************************************/
 .main-container {
    height: 600px;
    background-color: #f783ac;
    display: flex;
 }

 .left-box{
    height: 600px;
    width: 250px;
    background-color: #a5d8ff;
 }

  .right-box{
    height: 600px;
    background-color: #0c0f14;
    flex-grow: 1;
 }
/* ________________________________________________________ */
 
/* call-to-action-bar */
 .call-to-action-bar {
    height: 55px;
    background-color: rgba(40, 40, 40, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100% - 250px);

 }

 /* ---------> button */
 .btn-cta {
   height: 25px;
   width: 140px;
   border: 1px solid #878788;
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 8px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   transition: transform 0.2s ease-in-out;
   margin-right: 5px;
 }

 .btn-cta a {
  color: #878788;
  text-decoration: none;
 }

 .btn-cta:hover {
  transform: scale(1.05);
}
/* ________________________________________________________ */




 /*************************************************
    FOOTER
 *************************************************/
 footer {
    height: 50px;
    background-color: #181818;
 }






 /* ______________________________________________________________ */
 /*************************************************
    RESPONSIVE - DESKTOP FIRST
 *************************************************/
 @media (max-width: 878px) {
  /* layout MD */
}

@media (max-width: 639px) {
  /* layout S */
}

@media (max-width: 552px) {
  /* layout XS */
}