/* Mobile medio (max-width: 639px) */

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; /* per desktop */
}

@media screen and (max-width: 640px) {
  /* layout S */

    .col {
        width: calc(100% / 2 - 14px);
    }

    .left {
        width: auto;
    }

    .small-cover-cont {
        width:auto;
    }

    .cont-save-song {
        flex-direction: column;
        gap: 8px;
        width: auto;
        margin-left: 28px;
    }

}