/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 12px;
}
/* FONT FAMILY
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-family: system-ui, sans-serif;
 */

/*************************************************
    MAIN
 *************************************************/
 .main-container {
    height: 600px;
    background-color: #f783ac;
    display: flex;
 }

 .left-col{
    height: 600px;
    width: 145px;
    background-color: #a5d8ff;
 }

  .right-col{
    height: 600px;
    background-color: #eebefa;
    flex-grow: 1;
 }

 /*************************************************
    FOOTER
 *************************************************/
 footer {
    height: 50px;
    background-color: #181818;
 }






 /* ______________________________________________________________ */
 /*************************************************
    RESPONSIVE - DESKTOP FIRST
 *************************************************/
 @media (max-width: 878px) {
  /* layout MD */
}

@media (max-width: 639px) {
  /* layout S */
}

@media (max-width: 552px) {
  /* layout XS */
}