/*************************************************
    GENERAL RULES CSS
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  font-family: 'Montserrat', sans-serif;  
  font-size: 12px;
}

/* ***************************** */
h1 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
    line-height: 1;
}

h3 {
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    /* font-weight: 600; */
}

h4 {
    margin-bottom: 10px;
    color:white;
    cursor: pointer;
  }

h5 {
  color: white;
  font-size: 10px;
}

h6 {
  color:#878788;
  font-size: 8px;
}
/* ***************************** */


/*************************************************
    MAIN
 *************************************************/
 .cont-web-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
 }
 
 .main-container {
    display: flex;
    height: calc(100vh - 90px);
 }

/********************************
    left column
 ********************************/
 .left-box{
  /* debug */
    width: 230px;
    min-width: 230px;
    background-color: #000000;
    display: flex;
    justify-content: center;
 }

 .narrow-cont {
   width: 100%;  
   padding: 0 20px;
   display: flex;
   flex-direction: column;
 }

 /* logo */
 .box-logo {
   height:55px;
 }

 .box-logo img {

 }

 /* menu */

 #active {
  color: white;
  opacity: 1;
}
.cont-menu-left-box a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

.cont-menu-left-box a:hover {
  opacity: 1;
}

.cont-menu-left-box ul {
  line-height: 2.7;
}

  /**icone**/
 .menu-icon {
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
 }

/* crea playlist */
.box-create-playlist {
  margin-top: 25px;
}

.box-btn-and-action {
  display: flex;
  align-items: center;
  width: 114px;
  cursor: pointer;
}

  .plus-icon i {
  font-size: 34px;
  color:white;
  margin-right: 8px;
  opacity: 0.5;
  }

  .text-create-playlist {
    color: white;
    opacity: 0.5;
  }

.box-btn-and-action:hover .plus-icon i,
.box-btn-and-action:hover .text-create-playlist {
  opacity: 1;
}

/* lista scrollabile con varie playlist */
.box-playlists-to-scroll {
  max-height: 150px;
  margin-top: 15px;
  overflow-y: auto;
}

.box-playlists-to-scroll a {
  color:#878788;
  text-decoration: none;
}

.box-playlists-to-scroll a:hover {
  color: white;
}

.box-playlists-to-scroll ul {
line-height: 2;
}

/* sezione finale colonna con "installa" e profilo utente */
.cont-footer-col {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.bottom-box {
  width: 100%;
}

.cont-install a {
  text-decoration: none;
  color: #878788;
}


 #install-icon {
  width: 15px;
  margin-bottom: 5px;
  padding-top: 5px;
  color: white;
 }

/* .cont-install:hover #install-icon,{
  opacity: 1;
} */

hr {
color: #878788;
}

.cont-profile a {
  text-decoration: none;
  color: white;
}

.cont-profile {
  margin: 5px 0;
}




/********************************
    right column
 ********************************/
  .right-box{
    height: 100%;
    background-color: #0c0f14;
    flex-grow: 1;
    overflow-y: auto;
 } 
/* ________________________________________________________ */
 
/* call-to-action-bar */
 .call-to-action-bar {
    height: 55px;
    background-color: rgba(40, 40, 40, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100% - 230px);

 }

 /* ---------> button */
 .btn-cta {
   height: 40px;
   width: 220px;
   border: 1px solid #878788;
   padding: 10px 20px;
   border-radius: 20px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   transition: transform 0.2s ease-in-out;
   margin-right: 5px;
 }

 .btn-cta a {
  color: #878788;
  text-decoration: none;
 }


 .btn-cta:hover {
 border: 1px solid white;
 transform: scale(1.05);
 color: white;
}

.btn-cta:hover a {
  color: white;
}
/* ________________________________________________________ */

/* top navbar */
.top-nav {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #878788;
    font-weight: 600;
}

.top-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.top-nav a {
  color: #878788;
  text-decoration: none;
 }

  .top-nav a:hover {
  color: white;
}

.active-section {
  border-bottom: 2px solid #1ed760;
}
/* ________________________________________________________ */

/* contenuti-in-evidenza */
.contenuti-in-evidenza {
    margin: 55px 0;
}

/* -------> Recently played */
.cont-title-and-album {
  margin: 0 20px;
  margin-top: 20px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;  
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col {
  width: calc((100% / 6) - (14px * 5 / 6));
}

.card img {
  width: 100%;
}

/* -------> Creato per John Doe */

/* -------> Artisti più popolari */

 /*************************************************
    BOTTOM
 *************************************************/
 .bottom-bar {
    height: 90px;
    background-color:#282828;
    margin: 0 auto;
    width:100%;
    display: flex;
    align-items: center;  
 }

 .cont-col-bb {
  width: 100%;
  display: flex;
  
 }

 .col-bb {
  display: flex;
  width: calc(100% / 3);
 }

  .col-bb:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }

 .col-bb:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 }

 /* sx */
.left {
  width: 230px;
  height: 40px;
  display: flex;
  margin-left: 8px;
}
  /* --> album e txt */
.cont-song-playing {
  width: 80%;
  display: flex;
}


.small-cover-cont {
   width: 30%;
}

.small-cover-cont img {
  height: 100%;
}

.txt-small {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  /* --> icone */
.cont-save-song {
  width: 20%;
  display: flex;
  display: flex;
  align-items: center;
}

.small-icons {
  width: 50%;
  display: flex;
  justify-content: center;
}

.small-icons i {
  color:#878788;
}

.small-icons i:hover {
  color: white;
}

/* centrale */
.center {
  flex-grow: 1;
  height: 50px;
}

  /* --> pulsanti*/
.cont-btns-song {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.cont-btns-song ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  list-style: none;
}

.cont-btns-song ul li {
  cursor: pointer;
}

.box-single-btn{
  color: white;
}

#play {
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

#play:hover {
  transform: scale(1.2);
}


  /* --> progress bar*/
.cont-progress-bar {
  width: 100%;
  height: 50%;
  display: flex;
}

.time-cont {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: white;
}

.bar-cont {
  width: 80%;
  display: flex;
  align-items: center;
}

.main-bar-progress {
  background-color: #878788;
  width: 100%;
  height: 5px;
  border-radius: 20px;
}

.progress-fill {
  background-color: white;
  height: 5px;
  width: 16%;
  border-radius: 20px;
  position: relative;
}

.main-bar-progress:hover .progress-fill {
  background-color: #1ed760;
}

.circle-progress {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  display: none;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.main-bar-progress:hover .circle-progress {
  display: block;
}

/* dx */
.right {
  width: 230px;
  height: 30px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

  /* --> icone */
.cont-player-controls-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.cont-player-controls-right ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.cont-player-controls-right li {
  color: white;
  cursor: pointer;
}

/* --> barra volume */
.cont-volume-bar {
  width: 60%;
  border-radius: 20px;
}
/* ___________________________ */
