/* Tablet (max-width: 878px)*/

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; /* per desktop */
}


@media screen and (max-width: 880px) {
  /* layout MD */

  /* top nav */
.top-nav {
    height: auto;
}

.top-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.top-nav ul li {
    min-width: 100px;
    text-align: center;
}

/* parte con vari album */
.cont-title-and-album {
  margin-top: 33px;
}

.col {
    width: calc(25% - 10.5px);
}

h2 {
    font-size: 1.2rem;
}
}